body {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Karla Text', sans-serif;
  background-color: #EDEFEE;
}

p {
  text-align: left;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-family: "Markazi Text", serif;
  font-style: normal;
  font-weight: normal;
}
